body{
	padding: 0;
	margin: 0;
    background-color: #161616;
    color: #fff;
    font-family: 'Bai Jamjuree', sans-serif;
}

.loading-screen{
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 1);
	color: #fff;
	font-family: 'K2D', sans-serif;
	font-size: 2em;
	align-items: center;
	justify-content: center;
	transition: all 400ms cubic-bezier(.53,.25,.66,.78);
    z-index: 100;
}
/**********************************************************
				    CONTAINER OF THE APP
***********************************************************/
.container{
    display: flex;
    flex-direction: column;
}
/**********************************************************
				 MAIN HEADER AND PAGE HEADER
***********************************************************/
.container .heading{
    display: flex;
    align-items: center;
    height: 55px;
    background-color: #FF416C;
    padding: 0 10px;
    color: #000;
    font-family: 'K2D', sans-serif;
}
.heading h1{
    position: relative;
    display: inline-block;
    font-size: 1.7em;
    margin-left: 40px;
}

.container .header{
    position: fixed;
    overflow: hidden;
    z-index: 16;
    width: calc(100% - 20px);
    top: 0;
    left: 0;
}
.header .menu-btn{
    display: flex;
    height: 30px;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-around;
}
.header .menu-btn .menu-bar{
    height: 3px;
    width: 40px;
    border-radius: 2.5px;
    background-color: #000;
    transition: width 400ms linear;
}
.header .menu-btn .menu-bar:nth-child(1){
    width: 20px;
}
.header .menu-btn .menu-bar:nth-child(2){
    width: 30px;
}
.header .menu-btn:hover .menu-bar{
    width: 40px;
}
.container #page-heading{
    position: relative;
    background-color: #FF416C;
    top: 55px;
    box-shadow: 0 0 25px #000;
}

/**********************************************************
				        NAV MENU
***********************************************************/
.container .nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -675px;
    z-index: 20;
    background-color: #161616;
    width: 80vw;
    max-width: 500px;
    box-shadow: 0 0 50px #000;
    height: 100vh;
    transition: left 500ms ease-out;
}
.container .nav.active{
    left: 0;
}
.nav-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 18;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 500ms linear;
}
.nav .nav-header{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff416c linear-gradient(90deg, #FF416C, #FF4B2B);
}
.nav .nav-header .logo {
    height: 180px;
    width: 180px;
    background: url('../athena-logo.svg') no-repeat center;
    background-size: contain;
}
.nav .nav-content{
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}
.nav .nav-element{
    display: flex;
    font-size: 1.4em;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    height: 60px;
    cursor: pointer;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}
.nav .nav-element:hover{
    color: #ff4b2b;
}
.nav .nav-element i{
    margin-right: 10px;
}

/*****************************************************
	 				QUICK NAV
******************************************************/
.quick-nav{
	-webkit-tap-highlight-color: transparent;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 16;
	box-shadow: 0 0 10px #000;
	bottom: 20px;
	right: 20px;
	height: 56px;
	width: 56px;
	border-radius: 28px;
	background-color: #FF4B2B;
	color: #000;
	user-select: none;
	cursor: pointer;
    overflow: hidden;
    transition: box-shadow 200ms ease-in-out, bottom 200ms ease-in-out,background-color 400ms ease-in-out;
}
.quick-nav:hover{
    background-color: #db4526;
}
.quick-nav:active{
    box-shadow: 0 5px 10px #000;
    bottom: 25px;
}
.quick-nav .quick-nav-main-icon{
	font-size: 2.5em;
}
/*****************************************************
 						MAIN
******************************************************/
.container .main{
    margin-top: 55px;
    font-size: 1.1em;
	min-height: calc(100vh - 200px);
}

/*****************************************************
 					ONLINE USERS PAGE
******************************************************/
.main .active-user{
	display: flex;
	height: 40px;
	align-items: center;
	padding-left: 20px;
}

.error{
    background-color: #faa;
    color: #f00;
    bottom: 0px;
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 25;
    font-weight: 1000;
    border-top: 2px solid #f00;
    padding: 7px 10px;
    animation: come-up 1s 1;
    justify-content: space-around;
    align-items: center;
    text-wrap: normal;
}
.error div{
    max-width: 90vw;
}
.closeBtn{
    position: relative;
    opacity: 0.4;
    display: flex;
    width: 30px;
    border-radius: 15px;
    justify-content:  center;
    align-items: center;
    cursor: pointer;
    transition: opacity 200ms ease-in;
}
.closeBtn i{
    font-size: 2em;
}
.closeBtn:hover{
    opacity: 1;
}

@keyframes come-up{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}

/************************************************************
	 					ALL USERS PAGE
*************************************************************/
.group{
	display: flex;
	flex-direction: column;
	padding: 10px;
	aorder-bottom: 2px solid #222;
	margin: 5px 0;
}
.group .group-name{
	font-size: 1.2em;
	cursor: pointer;
	color: #ddd;
	display: flex;
	align-items: center;
}
.group .group-members{
	display: none;
	padding-left: 20px;
	overflow: hidden;
}
.group .group-members .group-member{
	padding: 5px 0;
}
.group .group-name i{
	transition: transform 1s ease-in-out;
}

/************************************************************
	 				SEARCH USERS PAGE
*************************************************************/
.search-results{
	padding: 10px 0 50px 0;
}
.loading-search{
	position: absolute;
	top: 160px;
	left: 0;
	height: 4px;
    animation: loading-srch 1s infinite;
	width: 30vw;
	background-color: #FF4B2B;
}
@keyframes loading-srch{
	0%{ left: -30vw; }
	100%{ left: 100vw; }
}
.main-search{
    background-color: #000;
    border: none;
    display: flex;
    width: 100%;
    height: 50px;
    color: #FF4B2B;
    font-size: 1.5em;
    text-indent: 20px;
    font-family: 'K2D', sans-serif;
    align-items: center;
}
input:focus{
	outline: none;
	border: none;
	box-shadow: none;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FFF;
    font-size: 0.8em;
    text-indent: 20px;
    font-family: 'K2D', sans-serif;
}
input::-moz-placeholder { /* Firefox 19+ */
    color: #FFF;
    font-size: 0.8em;
    text-indent: 20px;
    font-family: 'K2D', sans-serif;
}
input:-ms-input-placeholder { /* IE 10+ */
    color: #FFF;
    font-size: 0.8em;
    text-indent: 20px;
    font-family: 'K2D', sans-serif;
}
input:-moz-placeholder { /* Firefox 18- */
    color: #FFF;
    font-size: 0.8em;
    text-indent: 20px;
    font-family: 'K2D', sans-serif;
}
.no-search-user{
	display: flex;
	height: 40px;
	align-items: center;
	font-size: 0.9em;
    margin: 20px;
	color: #999;
}
.no-search-user i{
	margin-right: 5px;
}
.search-user{
	display: flex;
	height: 40px;
	align-items: center;
	padding-left: 10px;
}

/************************************************************
	 					RIPPLE EFFECT
*************************************************************/
@keyframes rippleDrop {
	100%{
		transform: scale(2);
		opacity: 0;
	}
}

/**********************************************************
				        FOOTER
***********************************************************/
.footer{
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #333333;
    width: 100%;
    color: #999;
    font-family: 'K2D', sans-serif;
    justify-content: space-around;
}
.footer .left, .footer .right{
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    min-width: 300px;
    justify-content: space-around;
}
.footer .name{
    font-size: 1.1em;
    font-weight: 600;
}
.footer .right .icons{
    display: flex;
    align-items: center;
}
.footer .icons .icon{
    padding: 4px;
    text-decoration: none;
    color: #999999;
    transition: background-color 400ms ease-in-out;
    margin: 0 5px;
    border-radius: 5px;
}
.footer .icon:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}
.footer .icon:hover path{
    fill: #fff !important;
}
